@model HTTAPI.ViewModels.ComeToOfficeRequestEmailViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        body {
            width: 850px;
        }

        h3.summary-header {
            font-weight: bold;
        }

        span.form-header {
            font-weight: bold;
        }

        .summary {
            margin-left: 15px;
        }

        .description {
            margin-top: 25px;
        }

        .bye {
            margin-top: 25px;
        }
    </style>
</head>
<body>
    <p>Hi @Html.DisplayFor(model => model.HRName)</p>
    <p>
        The following request has been raised for the Coming to office. Below is the summary
    </p>

    <div class="summary">
        <h3 class=summary-header>Summary</h3>
        <div>
            <span class="form-header">Request Number: </span>
            <span class="form-data">@Html.DisplayFor(model => model.RequestNumber)</span>
        </div>
        <div>
            <span class="form-header">Name: </span>
            <span class="form-data">@Html.DisplayFor(model => model.Employee.Name)</span>
        </div>
        <div>
            <span class="form-header">Employee Code: </span>
            <span class="form-data">@Html.DisplayFor(model => model.Employee.EmployeeCode)</span>
        </div>
        <div class="description">
            <div>
                <span>I would like to Come to office on</span>
            </div>
            <div>
                <span class="form-header">Date: </span>
                <span class="form-data">@Html.DisplayFor(model => model.DateOfRequest)</span>
            </div>
            <div>
                <a title="Click to view requests" href="@Model.LinkUrl">Click to view requests</a>
            </div>
        </div>
    </div>
    <div class="bye">
        <span class="br">Best Regards</span><br />
        <span class="thnks">@Html.DisplayFor(model => model.Employee.Name)</span>
    </div>

</body>
</html>
